<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")

</head>
<body class="bg-black">

        @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
