@model IEnumerable<Bll.DTO.VideoModel.VideoHeader>


@foreach (var video in Model)
{

    <div class="col-sm-12" style="padding:2%">
        <a href="@Url.Action("Details","Videos",new {videoId = video.Id })">
            <div class="tarolo">
                <div class="sor3">

                   Episode @video.Number
                    @if (video.Name != null)
                    {
                        <span class="genre">@video.Name</span>
                    }

                </div>
                <div class="kep"><img src="~/Upload/AnimePicture/@video.PictureUrl" style="width:100%" /></div>
            </div>
        </a>
    </div>

}

